.green-button {
  &__wrapper {
    position: relative;
    width: 250px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;

    &:hover {
      .green-button__bars--left {
        transform: translate(10%, -50%);
      }
      .green-button__bars--right {
        transform: translate(-90%, -50%);
      }
    }
  }

  &__bars {
    position: absolute;
    top: 22%;
    left: 35%;
    height: 140px;
    scale: 0.7;
    width: 140%;
    transform: translate(-50%, -50%);
    z-index: 0;
    transition: transform 0.4s ease, filter 0.4s ease;
  }

  &__bars--left {
    clip-path: inset(0 50% 0 0);
  }

  &__bars--right {
    clip-path: inset(0 0 0 50%);
  }

  &__image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    transform: translate(-50%, -50%);
    z-index: 3;
    pointer-events: none;
  }
  &__image-white {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 75px;
    transform: translate(-50%, -50%);
    z-index: 2;
    pointer-events: none;
    opacity: 0.7;
  }

  &__button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    height: 80%;
    z-index: 1;
    color: var(--textWhiteColor);
    font-size: 1rem;
    font-weight: 600;
    border-radius: 5px;
    letter-spacing: 0.3rem;
    font-size: 12px;
    background: linear-gradient(
      90deg,
      transparent 0%,
      var(--textGreenBlurColor) 10%,
      var(--textGreenBlurColor) 90%,
      transparent 100%
    );
    filter: contrast(1.2) brightness(0.9);
    border: none;
    cursor: pointer;

    &:hover {
      filter: contrast(1.2) brightness(1.2);
    }
  }
  &__pointer-image {
    position: absolute;
    width: 20px;
    height: 20px;
    margin-left: 1rem;
    fill: var(--textGreenBlurColor);
  }
}
